<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RWR.Wares.DSBO.Properties.Settings.WaresConnectionString"
            connectionString="Data Source=Wares.db.10176324.hostedresource.com;Initial Catalog=Wares;Persist Security Info=True;User ID=Wares;Password=Idontknow@1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>